@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/chat.css")

<script>
     var model = JSON.parse('@Html.Raw(Json.Encode(Model))');
</script>

<div class="jumbotron">

    <h1>Mes chats :</h1>

</div>

<div id="divEmptyList" class="hidden">
    <h2>Pas de chats!</h2>
</div>

<div>

    <div id="divLstCats" class="hidden">
        <h3 data-prop="Nom" data-src="text"></h3>
        <p data-prop="Age" data-src="text"></p>
        <p data-prop="Couleur" data-src="text"></p>
        <button data-prop="Id" data-src="name" name="" onclick="showDetails(this)">Détails</button>
    </div>

</div>

<div id="divDetailsCat" class="hidden">
    <h3 data-prop="Nom" data-src="text"></h3>
    <p data-prop="Age" data-src="text"></p>
    <p data-prop="Couleur" data-src="text"></p>
</div>


@Scripts.Render("~/Scripts/chat.js")